jinja2==3.0.3
sphinx~=3.5.0; python_version < "3.10"
sphinx==4.2; python_version == "3.10"
docutils==0.16
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.4.2
sphinxcontrib-devhelp==1.0.2
pygments-github-lexers==0.0.5
pennylane>=0.22,<0.34
sphinx-automodapi==0.14.1
pennylane_sphinx_theme
